.dots {
  &.steps {
    animation: dotsSteps 0.9s linear infinite alternate;
    animation-delay: -0.6s;

    &::before {
      content: '';
      animation: dotsSteps 0.9s infinite alternate;
      animation-delay: -0.9s;
    }

    &::after {
      content: '';
      animation: dotsSteps 0.9s infinite alternate;
      animation-delay: -0.3s;
    }

    &.angle {
      &::before,
      &::after {
        top: 25px;
      }
    }
  }
}

@keyframes dotsSteps {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
